@import "tailwindcss";


/* =============================
   1) GLOBAL COLORS & UI VARS
================================ */
:root {
  --bg-dark: #090b0f;
  --panel-dark: #13141a;
  --panel-mid: #1b1c25;
  --border: #363849;
  --accent: #6a8aff;
  --accent2: #c06bff;
  --success: #4afc72;
  --danger: #ff476e;
}

/* =============================
   2) UI COMPONENT STYLES
================================ */
.neon-border {
  border: 1px solid var(--border);
  background: linear-gradient(145deg, #15161e, #111118);
  box-shadow: 0 0 20px #000 inset;
}

.neon-btn {
  background: linear-gradient(90deg, var(--accent), var(--accent2));
  font-weight: 700;
  border-radius: 10px;
  transform: translateY(0);
  transition: all 0.15s ease-in-out;
}

.neon-btn:hover {
  filter: brightness(1.2);
  transform: translateY(-2px);
}

.neon-chip {
  background: #23232c;
  border: 1px solid var(--border);
  border-radius: 6px;
  cursor: pointer;
  transition: 0.15s;
}

.neon-chip:hover {
  background: #30303d;
  color: var(--accent);
}

input {
  color: white;
}
